button{
    outline: none;
    border: 1px solid var(--btn);
    border-radius: 4px;
    padding: .25em .5em;
    margin: .25em;
    color: var(--container);
    background-color: var(--btn);

    &:hover{
        cursor: pointer;
        background-color: var(--btnhover);
    }

    &:disabled{
        cursor: not-allowed;
        background-color: gray;
        border: 1px solid gray;
    }
}

#testbtn{
    color: var(--btn);
    background-color: transparent;

    &:hover{
        background-color: --container;
        color: var(--btnhover);
    }
}

#submitbtn{
    color: var(--header);
    background-color: var(--btn);

    &:hover{
        background-color: var(--btnhover);
    }
}

#collapse{
    background-color: transparent;
    color: var(--text);
    outline: none;
    border: none;
}

#authbtn{

    display: flex;
    flex-direction: column;

    button{
        color: #757575;
        background-color: white;
        padding: .5em;
        border-radius: 2px;
        border: none;

        box-shadow: rgb(0 0 0 / 24%) 0px 2px 2px 0px, rgb(0 0 0 / 24%) 0px 0px 1px 0px;

        &:hover{
            color: #6d6d6e;
            background-color: #e9e9ea;
        }
    }
}