button{
    outline: none;
    border: 1px solid $btn;
    border-radius: 4px;
    padding: .25em .5em;
    margin: .25em;
    background-color: $btn;

    &:hover{
        cursor: pointer;
        background-color: $btnhover;
    }

    &:disabled{
        cursor: not-allowed;
        background-color: gray;
        border: 1px solid gray;
    }
}

#testbtn{
    color: $btn;
    background-color: transparent;

    &:hover{
        background-color: $container;
        color: $btnhover;
    }
}

#submitbtn{
    color: $container;
    background-color: $btn;

    &:hover{
        background-color: $btnhover;
    }
}

#collapse{
    background-color: transparent;
    color: $text;
    outline: none;
    border: none;
}