.container{
}

.header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-family: monospace;
    font-size: 16px;
    color: var(--text);
    background-color: var(--header);
    border-bottom: 2px solid var(--trim);
    border-radius: 4px 4px 0px 0px;
    padding: .5rem;
    max-height: 1rem;

    z-index: 10;
}

.CodeMirror {
    height: 100% !important;
}

.CodeMirror-wrap pre {
    word-break: break-word !important;
}