.ide{
    max-width: 50em;
}

.editor{

    .cm-s-lesser-dark.CodeMirror{
        background: var(--container) !important;
    }
    
    .cm-s-lesser-dark .CodeMirror-gutters{
        background: var(--container) !important;
        border-right: 2px solid var(--gutter) !important;
    }    

}

.challenger{
    user-select: none;
    pointer-events: none;
}

.challenger.blur{
    .cm-s-lesser-dark span{
        filter: blur(4px) !important;
    }
}