$rich-black-fogra-29: #0d1b2aff;
$oxford-blue: #1b263bff;
$bdazzled-blue: #415a77ff;
$shadow-blue: #778da9ff;
$platinum: #e0e1ddff;
$tuscan-red: #7d4e57ff;
$copper-red: #d66853ff;

$light-gray: #ccdbdcff;
$powder-blue: #9ad1d4ff;
$middle-blue: #80ced7ff;
$cg-blue: #007ea7ff;
$prussian-blue: #003249ff;