//LIGHT PALETTE
[data-theme='light'] {
    $bg: #FCFCFC;
    $header: #EBEBEB;
    $trim: #EBEBEB;
    $container: white;
    $gutter: #f7f7f7;
    $container-secondary: white;
    $navbar: white;
    $text: #333333;

    $btn: #0565d3;
    $btnhover: #0077ff;
}