#test {
    .cm-s-lesser-dark.CodeMirror{
        background: $container !important;
    }

    .cm-s-lesser-dark .CodeMirror-gutters{
        background: $container !important;
        border-right: 2px solid $gutter !important;
    }    
}