#test {
    .cm-s-lesser-dark.CodeMirror{
        background: var(--container) !important;
    }

    .cm-s-lesser-dark .CodeMirror-gutters{
        background: var(--container) !important;
        border-right: 2px solid var(--gutter) !important;
    }    
}

#mocha{
    // color: var(--text);
    // background-color: var(--container);
    background-color: white;
    // pointer-events: none;

    // .suite{
    //     h1{
    //         color: var(--text);
    //     }
    // }
}